body{
    text-align: center;
    background-color: #192734;
}

h1{
    font-size: 70px;
    color: rgb(243, 235, 224);
    text-shadow: 3px 1px rgb(114, 36, 36);
}
footer{
    color: rgb(247, 242, 236);
    margin: 0px;
}

.kit{
    margin: 10% auto;
}

.drum{
    border: 10px solid rgb(60, 57, 62);
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    line-height: 3.5;
    font-size: 50px;
    font-weight: 700;
    color: rgb(99, 7, 27);
    text-shadow: 3px 1px rgb(151, 108, 108);   
}

.w{
    background-image: url("./images/tom1.png");
    background-size: 150px;
}
.a{
    background-image: url("./images/tom2.png");
    background-size: 150px;
}
.s{
    background-image: url("./images/tom3.png");
    background-size: 150px;
}
.d{
    background-image: url("./images/tom4.png");
    background-size: 150px;
}
.j{
    background-image: url("./images/crash.png");
    background-size: 150px;
}
.k{
    background-image: url("./images/kick.png");
    background-size: 150px;
}
.l{
    background-image: url("./images/snare.png");
    background-size: 150px;
}

.glowBorder{
    border: 10px solid rgb(172, 190, 17);
    opacity: 0.3;
    transition: opacity 0.5sec ease-in-out;


}